@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Recharge";
    src: url(./assets/font/recharge\ bd.otf);
}

@font-face {
    font-family: "Neuropolitical";
    src: url(./assets/font/neuropolitical\ rg.otf);
}

.ff-Recharge {
    font-family: "Recharge";
}

.ff-Neuropolitical {
    font-family: "Neuropolitical";
}

.bg-size {
    background-size: 100% 100%;
}

.slick-slide {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.sliderTwo.slick-slide {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.overflow_hidden::-webkit-scrollbar {
    display: none;
}

.common_btn:hover {
    animation: pulsegardiant 1s linear;
    box-shadow: 0 0 0 0.7em transparent;
}

@keyframes pulsegardiant {
    0% {
        box-shadow: 0 0 #02CDCF;
    }
}

@media (max-width:1024px) {
    .overflow {
        overflow: hidden;
    }
}